fastapi
uvicorn[standard]
gunicorn
pydantic
python-dotenv
certifi

langchain-core
langchain-groq
langgraph
langgraph-checkpoint-postgres
langchain-mcp-adapters

psycopg[binary]
psycopg_pool

markdown
xhtml2pdf
requests

airportsdata
pycountry
mcp
nest_asyncio


tenacity
slowapi
boto3
tavily
fastapi
